
.section-background-primary {
  background-color: #cce5ff;
}
.section-background-success {
  background-color: #d4edda;
}
.section-background-warning {
  background-color: #fff3cd;
}
.section-background-info {
  background-color: #d1ecf1;
}